<ion-header class=ion-no-border>
  <ion-toolbar>
    <ion-bottons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-bottons>
    <ion-bottons slot="end">
      <ion-button routerLink="/signup">Sign Up</ion-button>
    </ion-bottons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="header">
      <h1>Login</h1>
      <img src="assets/login.jfif" alt="logo" />
    </div>
    <form id="form">
      <ion-card-content>
        <ion-item>
          <ion-input placeholder="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="password" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button class="btn btn-success" (click)="logMeIn()"  expand="block" shape="round">
          Login
        </ion-button>
      </ion-card-content>
      </form>
</ion-content>
