<ion-header >
  <ion-toolbar>
    <ion-title>
      women's accessories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/image1.jpg" alt="logo" />
      <ion-card-subtitle>fashion</ion-card-subtitle>
      <ion-card-title>fashion</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Fashion accessories can be loosely categorized into two general areas: those that are carried and those that are worn. Traditionally carried accessories include purses and handbags, hand fans, parasols and umbrellas, wallets, canes, and ceremonial swords. Accessories that are worn may include jackets, boots and shoes, cravats, ties, hats, bonnets, belts and suspenders, gloves, muffs, necklaces, bracelets, watches,[a] eyewear, sashes, shawls, scarves, lanyards, socks, pins, piercings, rings, and stockings.[1]

      The type of accessory that an individual chooses to wear or carry to complement their outfit can be determined by several factors, including the specific context of where the individual is going. For example, if an individual is going to work their choice of accessory would differ from someone who is going out to drinks or dinner; thus depending on work or play different accessories would be chosen. Similarly, an individual's economical status, religious and cultural background would also be a contributing factor.[3]
    <br>
    <ion-button class="btn btn-success" (click)="DetailsMeIn()"  expand="block" shape="round">Details</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
